---
layout: default
---
{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    {%- if page.categories.size > 0 -%}
    <div class="post-categories">
      {%- for category in page.categories -%}
      <span class="post-category">{{ category }}</span>
      {%- endfor -%}
    </div>
    {%- endif -%}
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <div class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
      <span class="post-meta-sep" aria-hidden="true">&middot;</span>
      <span itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span class="p-author h-card" itemprop="name">{{ page.author | default: site.author }}</span>
      </span>
      {%- elsif site.author -%}
      <span class="post-meta-sep" aria-hidden="true">&middot;</span>
      <span itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span class="p-author h-card" itemprop="name">{{ site.author }}</span>
      </span>
      {%- endif -%}
    </div>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <footer class="post-footer">
    <a class="post-back-link" href="{{ " /" | relative_url }}">&larr; Back to all posts</a>
  </footer>

  {%- if site.disqus.shortname -%}
  {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>